.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db

*.log
*.tmp
*.temp

.idea/
build/
dist/
out/
bin/
obj/

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/


*.elf
*.hex
